body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 5px;
  font-family: Inter;
}

.topnav {
  background-color: #fff;
  padding: 10px;
  font-size: 10px;
  color: black;
  font-family: Inter;
}
.topnav-left {
  float: left;
  padding-right: 20px;
}

.topnav-right {
  float: right;
}
a:hover {
  opacity: 0.5;
}
.topnav a {
  padding-left: 5px;
}

/* topdown menuy style */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  opacity: 0.7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
}



.product1 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px 160px;
}


.product1-content {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:40px;
}

ul{
  margin:10px 0px;
  list-style: none;
  font-size: 10px;
padding:0;}

  li{margin:0;
}

h1{margin:0;
font-family:silk serif ;
font-style: italic;
font-size: 15px;}
p{margin:0;
  font-family:silk serif ;
  font-style: italic;
  font-size: 11px;
}
p1{font-size: 10px;
  margin-top: 10px;
  line-height:1.6;
}

h2{margin:0;
font-size:11px;
font-family:silk serif;
}

button{
  all:unset;
   width:40px;
   height:16px;
   border:1px solid black;
   border-radius:8px;
   text-align:center;
   line-height:11px;
   cursor:pointer;
   font-size: 10px;
}
